.universalInputArea {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input {
    border: 3px solid #22bfde;
    border-radius: 5px;
    background: #ffffff;
    height: 30px;
    text-align: center;
    font-weight: bold;
}
.red{
    border: 3px solid #ff256a;
    background: #e56589;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

    opacity: 1;

}