.display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 100px;
    margin-top: 25px;
    width: 450px;
    height: 200px;
    color: #22bfde;
    border: 3px solid #22bfde;
    border-radius: 10px;
}
.large{
    font-size: xx-large;
}
.red{
    color: red;
}